<!DOCTYPE html>
<html lang="en">

<head>

  <!--Spectre css-->
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  <meta charset="UTF-8">
  <title>Free Range Tomato</title>
</head>

<header class="bg-secondary">

  <!-- Nav for screen => 840px-->
  <div class="container hide-md" style="margin-top: 60px; margin-bottom:60px; margin-left: 60px; margin-right: 60px">
    <div class="columns text-dark">

      <div class="column col-4" style="font-family:Lucida Concole; text-align:left;">
        <h2>Free Range Tomato</h2>
      </div>

      <div class="column col-auto"></div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/'>Home</a>
      </div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/recipes'>Recipes</a>
      </div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/articles'>Articles</a>
      </div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/faq'>FAQ</a>
      </div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/about'>About</a>
      </div>

      <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:10px;">
        <a href='/contact'>Contact</a>
      </div>



      <div class="column col-1" style="text-align:right; margin-top:5px">
        {{#if session.isLoggedIn}}

        <div class="dropdown dropdown-right">
          <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 20px;"></p>
          </a>

          <ul class="menu">
            <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:15px"><a
                href='/logout'>Log out</a></div>
          </ul>
        </div>

        {{else}}
        <div class="dropdown dropdown-right">
          <a href="/auth/login" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 20px;"></p>
          </a>
        </div>

        {{/if}}
      </div>

    </div>
  </div>


  <!-- Nav for screen <= 840px-->
  <div class="container show-md hide-xs"
    style="margin-top: 60px; margin-bottom:60px; margin-left: 60px; margin-right: 60px">
    <div class="columns">
      <div class="column col-9" style="font-family:Lucida Concole; text-align:left">
        <h2>Free Range Tomato</h2>
      </div>

      <div class="column col-auto"></div>

      <!-- dropdown menu -->
      <div class="dropdown dropdown-right">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0"><i class="icon icon-menu"
            style="font-size: 30px;"></i></a>

        <!-- menu component -->
        <ul class="menu">
          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"> <a href='/'>Home</a> </div>

          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"><a href='/recipes'>Recipes</a>
          </div>

          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"><a href='/articles'>Articles</a>
          </div>

          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"><a href='/faq'>FAQ</a></div>

          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"><a href='/about'>About</a></div>

          <div class="column col-1" style="font-family:Lucida Concole;padding-top:15px"><a href='/contact'>Contact</a>
          </div>
        </ul>
      </div>

      <div class="column col-1" style="text-align:right;">
        {{#if session.isLoggedIn}}

        <div class="dropdown dropdown-right">
          <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 30px;"></p>
          </a>

          <ul class="menu">
            <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:15px"><a
                href='/logout'>Log out</a></div>
          </ul>
        </div>

        {{else}}
        <div class="dropdown dropdown-right">
          <a href="/login" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 30px;"></p>
          </a>
        </div>

        {{/if}}
      </div>

    </div>
    <!-- /Columns -->
  </div>
  <!-- /Nav for screen <= 840px-->


  <!-- Nav for screen <= 480px-->
  <div class="container show-xs" style="margin-top: 60px; margin-bottom:20px; margin-left: 60px; margin-right: 60px">

    <!-- Title column -->
    <div class="columns">
      <div class="column col-12" style="font-family:Lucida Concole; text-align:left">
        <h2>Free Range Tomato</h2>
      </div>
    </div>
    <!-- /Title column -->

    <!-- Menu column -->
    <div class="columns" style="text-align:center">
      <!-- dropdown menu -->
      <div class="column col-1"></div>

      <div class="dropdown col-3">
        <a href="#" class="btn btn-link dropdown-toggle" tabindex="0"><i class="icon icon-menu icon-2x"></i></a>

        <!-- menu component -->
        <ul class="menu">
          <div class="column" style="font-family:Lucida Concole; text-align:center; padding-top:15px"> <a
              href='/'>Home</a> </div>
          <div class="column" style="font-family:Lucida Concole; text-align:center; padding-top:15px"><a
              href='/recipes'>Recipes</a></div>
          <div class="column" style="font-family:Lucida Concole; text-align:center; padding-top:15px"><a
              href='/articles'>Articles</a></div>
          <div class="column" style="font-family:Lucida Concole; text-align:center; padding-top:15px"><a
              href='/faq'>FAQ</a></div>
          <div class="column" style="font-family:Lucida Concole; text-align:center; padding-top:15px"><a
              href='/about'>About</a></div>
          <div class="column"
            style="font-family:Lucida Concole; text-align:center; padding-top:15px; padding: bottom 15px;"><a
              href='/contact'>Contact</a></div>
        </ul>
      </div>
      <!-- /Menu column -->
      <div class="column col-2"></div>

      <!-- Admin column -->
      <div class="column col-3">
        {{#if session.isLoggedIn}}

        <div class="dropdown dropdown-right">
          <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 30px;"></p>
          </a>

          <ul class="menu">
            <div class="column col-1" style="font-family:Lucida Concole; text-align:right; padding-top:15px"><a
                href='/logout'>Log out</a></div>
          </ul>
        </div>

        {{else}}
        <div class="dropdown dropdown-right">
          <a href="/login" class="btn btn-link dropdown-toggle" tabindex="0">
            <p class="icon icon-people" style="font-size: 30px;"></p>
          </a>
        </div>

        {{/if}}
      </div>
      <div class="column col-2"></div>
    </div>
    <!-- /Admin column -->
  </div>
  <!-- /Nav for screen <= 480px-->

</header>

<body>

  <main style="margin-left: 60px; margin-right:60px;">
    {{{body}}}
  </main>

</body>

<footer>
</footer>

</html>