<div class="columns">

    <div class="column col-12 text-center">
        <h1>Hi there</h1>
    </div>

    <div class="column col-4"></div>
    <div class="column col-4">

        <p>My mission is to make a nourishing vegan lifestyle accessible to everyone.
            Since you're here, you're probably curious to know more about this website &#127813;.
        </p>

        <p>
            This website is a part of a Web Development Fundamentals project. Peter made me do it. 
        </p>

    </div>
    <div class="column col-4"></div>

</div>