<div class="columns">

    <div class="column col-12 text-center">
        <h1>Contact me</h1>
    </div>

    <div class="column col-4"></div>

    <div class="column col-4 text-center">

        <p>
            You can contact me at amsa20uj@student.ju.se.
        </p>

    </div>

    <div class="column col-4"></div>

</div>