<h1>new ARTICLE</h1>

{{#if errors.length}}
<p>Could not create the faq because:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{else}}
<form action="/articles/create" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    Title: <input type="text" name="title">
    Article: <textarea name="article"></textarea>

    <div>
        <input class="float-left" type="submit" value="Create">
    </div>

</form>
{{/if}}