<h1>new Recipe</h1>

<form action="/recipe/create" method="POST">

      Title:   <input type="text" name="recipeName">
      Image:   <textarea name="image"></textarea>
      Description:  <textarea name="desc"></textarea>

    <div>
        <input class="float-left" type="submit" value="Create">
    </div>
</form>