<h1>new Recipe</h1>

{{#if errors.length}}
<p>Could not create the recipe because:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}


{{#if hasDatabaseError}}
<p>Database error</p>

{{else}}
<form action="/recipes/create" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    Title: <input type="text" name="name">
    Image: <textarea name="image"></textarea>
    Description: <textarea name="desc"></textarea>

    <div>
        <input class="float-left" type="submit" value="Create">
    </div>
</form>
{{/if}}