<div class="column col-12" style="text-align: center; margin-top:150px">

    <h1>Delete article</h1>

    <p>Really delete the article named "{{Article.title}}" ?</p>

    <form action="/reading/{{Article.articleID}}/delete" method="post">
        <input type="submit" value="confirm delete">
    </form>

</div>