<div class="column col-12" style="text-align: center; margin-top:150px">

    <h1>Delete recipe</h1>

    <p>Really delete the recipe named "{{Recipe.recipeName}}" ?</p>

    <form action="/recipes/{{Recipe.recipeID}}/delete" method="post">
        <input type="submit" value="confirm delete">
    </form>

</div>