<div class="column col-12" style="text-align: center; margin-top:150px">

    <h1>Delete FAQ</h1>

    <p>Really delete the FAQ named "{{FAQ.question}}" ?</p>

    <form action="/faq/{{FAQ.faqID}}/delete" method="POST">
    <input type="hidden" name="_csrf" value = "{{csrfToken}}">
        <input type="submit" value="confirm delete">
    </form>

</div>