<p>this is the home page</p>



<div>
<h2>All humans</h2>
{{#if humans.length}}
<ul>
    {{#each humans}}
    <li>{{name}}</li>
    {{/each}}
</ul>
{{else}}
<p>No humans exist.</p>
{{/if}}

<h2>All pets</h2>
{{#if pets.length}}
<ul>
    {{#each pets}}
    <li>{{name}}</li>
    {{/each}}
</ul>
{{else}}
<p>No pets exist.</p>
{{/if}}
</div>
