<img src="tomatoes.jpg" class="img-responsive">

<div class="columns">

    <div class="column col-12 text-center my-2">
        <h1>Welcome! <i class="icon icon-emoji text-success"></i></h1>
    </div>

    <div class="column col-2"></div>

    <div class="column col-4">

        <h3>We are Free Range Tomato</h3>

        <p>
            My mission is to make a nourishing vegan lifestyle accessible to everyone.
            I make tasty recipes and articles to make you feel excited and supported in introducing more
            plants into your meals, snacks, desserts, and everything in-between!

        </p>

        <div class="columns">

            <div class="column col-auto">
                <button class="btn">
                    <a href='/about'>Learn more</a>
                </button>
            </div>

            <div class="column col-auto">
                <button class="btn">
                    <a href='/recipes'>Start cooking</a>
                </button>
            </div>

            <div class="column col-auto">
                <button class="btn">
                    <a href='/articles'>Get motivated</a>
                </button>
            </div>

        </div>

    </div>

    <div class="column col-auto"></div>

    <div class="column col-4">
        <img src="hen.jpg" class="img-responsive">
    </div>

    <div class="column col-2"></div>

</div>