<p>this is the reading page</p>


{{#if hasDatabaseError}}
	<p>Couldn't fetch the articles at the moment, try again later.</p>
{{else}}
	
	{{#if Post.length}}
		{{#each Post}}
			<div class="column col-6">
				<h4>{{title}}</h4>
                <p>{{article}}</p>
			</div>
		{{/each}}
	{{else}}
		<p>There are no articles available!</p>
	{{/if}}
	
{{/if}}