{{#if hasDatabaseError}}
<div class="col-12 text-center">
    <h3 style="text-align: center;">Couldn't fetch the recipe at the moment, try again later.</h3>
</div>

{{else}}
<div class="columns">
    <div class="column col-3"></div>

    <div class="column col-6">
        <h1 class="text-center">{{Recipe.name}}</h1>
        <img src="/{{Recipe.image}}" width="100%">
        <p class="my-2 py-2">{{Recipe.desc}}</p>
    </div>

    <div class="column col-3"></div>
</div>
{{/if}}