<div class="column col-12" style="text-align: center;">
<h1>Recipes</h1>
</div>

{{#if hasDatabaseError}}
	<p>Couldn't fetch the articles at the moment, try again later.</p>
{{else}}
	
	{{#if Post.length}}
		{{#each Post}}

        <div class="columns">


			<div class="column col-4">
				<h4>{{name}}</h4>
                <p>{{desc}}</p>
			</div>
            </div>
</div>

		{{/each}}
	{{else}}
		<p>There are no articles available!</p>
	{{/if}}
	
{{/if}}