<h1>Update Article</h1>

{{#if errors.length}}
	<p>Couldn't edit the article because:</p>
	<ul>
		{{#each errors}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
{{/if}}

<form action="/articles/{{Article.articleID}}/update" method="POST">
	
    <div>
		Question: <input type="text" name="title" value="{{Article.title}}">
	</div>

	<div>
		Answer: <textarea name="article">{{Article.article}}</textarea>
	</div>

	<div>
		<input type="submit" value="Update">
	</div>

</form>